:root {
    --colorPanelBorder: #b6b6b6;
    --colorTextNeutral: #9d9d9d;

    --durationFast: 0.1s;
    --durationFast2: 0.2s;
    --durationMedium: 0.5s;
    --durationSlow: 1.5s;

    --borderRadiusSmall: 0.25em;

    --buttonHeight: 3em;
    --buttonHeightMobile: 2em;

    --contentPadding: 1em;

    --gridGap: 1em;

    --imageURLshuffle: url(img/creation.svg);
    --userImg: url(img/card-account-details.svg)
}

/* PARENT DIV */

.dialogParent {
    width: 100%;
    height: 100%;
    /* height: 500px; */
    display: absolute;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;

    pointer-events: none;
}

/* DIALOG BACKGROUND */
/* used for the backdrop effect - won't work in Firefox otherwise */

.dialogBackdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);

    display: none;
    pointer-events: auto;
}

/* MODAL DIALOG */

dialog {
    border: none !important;
    border-radius: 1em;
    padding: 1.5em;
    z-index: 13;
    pointer-events: auto;
    border: none !important;
    border-radius: 1em;
    padding: 1.5em;
    overflow: visible;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dialogContent p {
    margin: 0;
}

dialog h1 {
    text-align: center;
    margin: 0;
}

dialog ul {
    margin: 0;
    text-align: left;
}

/* ONBOARDING DIALOG */

#FirstTimePopup {
    min-width: 400px;
    text-align: center;
}

.twoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    height: 4em;
}

.oneGrid {
    justify-content: center;
    grid-template-columns: 0.5fr;
}

.githubFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.githubFooter p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.thickButton {
    font-size: 1.5em;
    font-family: 'LilitaOne';
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: white;
    color: var(--colorTextNeutral);
    background-color: var(--colorTextNeutral);
    background-color: white;
    white-space: nowrap;
    border-color: var(--colorPanelBorder);
    border: 2px solid var(--colorPanelBorder);
    transition-duration: var(--durationFast);
    border-radius: var(--borderRadiusSmall);

    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thickButton:hover {
    font-size: 1.75em;
    transition-duration: var(--durationFast);
    filter: brightness(90%);
    border-width: 6px;
    letter-spacing: 1px;
}

.thickButton span {
    position: absolute;
}

/*
PLAYER SETTINGS MENU
*/

.settingsAvatar {
    max-height: 30vh;
    max-width: 30vw;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.settingsAvatar img {
    border-radius: 50%;
    border: 0.5em solid var(--main-color);
    height: 100%;
    box-sizing: border-box;
}

.shuffleIcon {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    height: 2.5em;    
    background: white;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 0px solid var(--main-color);
    box-sizing: border-box;
    transition: var(--durationFast);
}

.shuffleIcon:hover {
    scale: 115%;
    border-width: 6px;
}

.shuffleButtonGraphic {
    width: 80%;
    height: 80%;
    background-image: var(--imageURLshuffle);
    background-size: 0%;
    mask-image: var(--imageURLshuffle);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--main-color);
}

.coloredBacking {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    box-sizing: border-box;
    opacity: 0.25;
    z-index: -1;
    top: 0;
    left: 0;
}

.settingsColoredSection {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: repeat(3, var(--buttonHeightMobile));
    grid-template-rows: repeat(2, 1fr);
    /*
    aspect-ratio: 3 / 1;
    */
    gap: var(--gridGap);
}

.settingsColoredSection .perfectSquare {
    grid-row: span 2;
}

.grid2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gridGap);
}

input[type="text"] {
    padding: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    border: 2px solid silver;
    box-sizing: border-box;

    padding: 0 1em;
    font-size: x-large;

    /*
    background-image: var(--userImg);
    background-position: 1em 50%;
    background-size: 3em;
    background-repeat: no-repeat;
    padding-left: 5em;
    background-color: #ffffffdb;
    background-blend-mode: lighten;
    */
}

input[type="color"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-width: 2px;
    border-radius: var(--borderRadiusSmall);
    border-color: var(--colorTextNeutral);
    transition: var(--durationFast);
}

.nightModeButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nightModeButton img {
    height: 90%;
    position: absolute;
}






dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.formInputSection {
    gap: 1em;
    display: flex;
    flex-direction: column;;
}

label {
    min-width: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form div {
    display: flex;
    flex-basis: 100%;
}

.SideBySide {
    gap: 1em;
}

#dialogHeaderText {
    text-align: center;
    margin: 0;
}

.addNewBookDialogDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.addNewBookDialogDiv button {
    width: 60%;
    padding-top: 1em;
}

.buttonImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.closeButtonDiv {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    aspect-ratio: 1 / 1;
    width: 2em;
    /* height: 2em; */
}

.closeButtonDiv button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 0;
    font-size: x-large;
    transform: rotate(45deg);
    text-align: center;
    /* padding: 2.5em; */
    padding: 0;
    /* aspect-ratio: 1 / 1; */
    /* width: 2em;*/

    cursor: pointer;
}

dialog textarea {
    width: 100%;
    height: 10em;
    padding: 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

#dialogSaveButton {
    padding: 12px 24px;
    border-radius: 1.5em;
    border: 0px;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    height: 3em;
    transition: var(--transition-time);
    cursor: pointer;
}