:root {
    --main-color: #F28E1C;
    --main-color-highlighted: #ffffff36;

    --colorOffWhite: #f1f1f1;
    --colorOffWhite2: #fafafa;
    --colorSlightGray: #e4e4e4;

    --mainContentMaxWidth: 900px;
    --contentGridSquareWidth: 150px;
    --menuGridSquareWidth: 220px;

    --main-color-selection: #ffffff36;
    --main-color-projects: #e3e8ee;
    --main-color-light: rgb(238, 238, 238);

    --bg-darkmode: #3a3f47;
    --bg-darkmode2: #2b2d30;

    --font-color-softer: #6c6c6c;
    --font-color-softer-dark: #cecdcd;

    --padding-amount: 2em;
    --border-radius: 1em;

    --navigationBarHeight: 4.5em;
    --transition-time: .2s;
}

body {
    margin: 0;
    font-family: 'rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contentGrid {
    display: grid;
    grid-template-columns: 300px minmax(300px, 1fr);
    height: 100vh;
    background-color: white;
    color: black;
}

.leftPanel {
    background-color: var(--main-color);
    color: white;
}

.leftPanelHeader {
    display: flex;
    justify-content: center;
}

/*
MENU ROWS
*/

.questRow img, .menuRowHeader img {
    width: 24px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(195deg) brightness(108%) contrast(104%);
}

.menuRowHeader img {
    width: 36px;
}

.questRow {
    height: 60px;
}

.questRow, .menuRowHeader {
    background-color: var(--main-color);
    transition: var(--transition-time);

    border-left: 0.3em solid transparent
}

.questRow:hover, .menuRowHeader:hover {
    /*background-color: #4b4e5a;*/
    background-color: var(--main-color-highlighted);
    transition: var(--transition-time);

    border-left: 0.3em solid #ffffff;
    overflow: hidden;   
}

#noHighlight:hover  {
    background-color: var(--main-color);
    border-left: 0.3em solid transparent
}

.menuRowContents {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;

    padding: 0 0.7em;
}

.menuRowHeader {
    display: flex;
    justify-content: center;
    grid-template-columns: 54px 1fr;
}

.menuRowHeaderContents {
    display: flex;
    gap: 0.5em;
    padding-right: 1em;
}

.topBanner {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

/*
TOP BANNER
*/

.topBanner {
    display: grid;
    /*
    background-color: white;
    color: black;
    */
}

.topBannerHeader, .topBannerMain {
    display: grid;
    /* grid-auto-columns: auto; 
    grid-column: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5em;
}

.topBannerAlerts {
    display: grid;
    grid-template: 1fr / repeat(4, auto);
    justify-content: end;
    align-items: center;
    gap: 1em;
    padding-right: var(--padding-amount);
    text-align: center;
}

.topBannerSearch {
    display: grid;
    grid-template: 1fr / auto 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));*/
    grid-template-rows: repeat(1fr, minmax(150px, 1fr));

    justify-content: start;
    align-items: center;
    gap: 1em;
    padding-left: var(--padding-amount);
}

input[type=text]#searchbar  {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

    border-radius: var(--border-radius);
    background-color: var(--main-color-light);
    padding-left: 1em;
    margin: 0;
}

.topBannerHeaderDark input[type=text] {
    background-color: var(--bg-darkmode2);
    color: var(--font-color-softer-dark);
}

.topBannerMainLeft {
    display: grid;
    grid-template: 1fr / auto auto;
    justify-content: start;
    padding-left: var(--padding-amount);
    gap: 1em;
}

.topBannerMainLeft img {

    height: 80px;
    border-radius: 50%;
}

.topBannerMainLeft p, .topBannerMainLeft h2 {
    margin: 0;
}

.avatarAlertSection, .avatarAlertSectionSmall {
    width: 40px;
    border-radius: 50%;
}

.avatarAlertSectionSmall {
    width: 24px;
}

.topBannerMainLeftUsername {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topBannerMainRight {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    justify-items: end;
    gap: 1em;
    padding: 0 1em;
}

.controlsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    border-radius: 20px;
    padding: 6px;
    /*
    background-color: var(--main-color-projects);
    */
}

.darkModeContainer {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--main-color-light);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.darkModeContainerDark {
    background-color: var(--bg-darkmode2);
}

.colorPickWrapper {
    height: 2em;
    width: 2em;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.colorPickWrapper  input[type=color] {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

/*
RIGHT SIDE CONTENT
*/

.categoryBanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
}

.tasksContainer {
    gap: 2em;
    display: grid;
    margin: 2em;
}

.stepsContainer {
    display: flex;
    flex-direction: column;
}

/*
Extra div that gives rounded corners to the bottom of the entire section
*/
.TaskContainerRounded {
    border-radius: 0 0 1em 1em;
    overflow: hidden;
}

.taskBanner {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
    /*
    display: flex;
    justify-content: space-between;
    */
    align-items: center;
    background-color: var(--colorSlightGray);
    border-radius: 1em 1em 0 0;
    overflow: hidden;
    padding: 1em 2em;
}

.taskBanner h2 {
    margin: 0;
}

#newTaskButton {
    border-radius: 2em;
    aspect-ratio: 1 / 1;
    height: 100%;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    font-size: xx-large;
    border: none;
    background: none;
    color: grey;
    outline: 4px solid grey;

    cursor: pointer;
}

#newTaskButton:hover {
    background: black;
}

.stepRow {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1em;
    padding: 1em 2em;
    background-color: var(--colorOffWhite);
    align-items: center;

    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    transition: 50ms;

    height: 3.2em;
}

.stepRow:hover {
    background-color: var(--colorOffWhite2);
}

.stepRow.is-draggable {
    cursor: grabbing;
    z-index: 1;
    position: relative;
}

input[type="checkbox" i] {
    aspect-ratio: 1 / 1;
    /* width: 18px; */
    height: 100%;
    margin: 0;
}

.stepTitle {
    flex-grow: 1;
}

.stepTitle br {
    display: none;
}

.rowCloseButtonDiv button {
    aspect-ratio: 1 / 1;
}

.priorityColor {
    background: red;
    aspect-ratio: 1 / 1;
    height: 1em;
    height: 100%;
    border-radius: 50%;
}

.dueDateSection {
    width: 4.5em;
    text-align: right;
}

